.table {
  --table-border-color: black;
  user-select: none;
}

.table td {
  padding: 0.5rem;
}

.table th {
  padding: 0.5rem;
}

.editRound:hover {
  background-color: var(--background-secondary);
  cursor: pointer;
}

.gameRow:hover {
  background-color: var(--background-secondary);
  cursor: pointer;
}
