.pageContainer {
  width: 100%;
  height: 100vh;
}

.button {
  padding: 0 10px;
  margin: 10px;
}

.titleContainer {
  height: 20%;
}

.contentContainer {
  height: 80%;
}

.title {
  margin-top: 2rem;
  cursor: pointer;
}

.title:hover {
  color: #5d7cf7;
}
